button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:hover > span {
  color: #ff7058;
}

.navbar-item {
  margin-bottom: -1px;
}
