@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-grey: #282c33;
$light-grey: #ced5e0;
$orange: #ff7058;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $light-grey;

// Update some of Bulma's component variables
$body-background-color: $dark-grey;
$link: $orange;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-box-shadow-size: 0 1px 0 0;
$navbar-tab-active-border-bottom-width: 1px;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.navbar {
  background-color: transparent;
}

.navbar-menu {
  background-color: transparent;
}

.footer {
  background-color: transparent;
  box-shadow: 0 0 0 1px whitesmoke;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
